:root{
    --blue: #0075ff;
    --blue-alt: #0d69d5;
    --orange: #F59E0B;
    --green: #22C55E;
    --red: #F44336;
    --grey: #888888;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}

/* Scroll bar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt);
}

::-moz-scrollbar{
    width: 10px;
}
::-moz-scrollbar-track{
    background-color: #fff;
    border-radius: 10px;
}
::-moz-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 10px;
}
::-moz-scrollbar-thumb:hover{
    background-color: var(--blue-alt);
}

::-ms-scrollbar{
    width: 10px;
}
::-ms-scrollbar-track{
    background-color: #fff;
    border-radius: 10px;
}
::-ms-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 10px;
}
::-ms-scrollbar-thumb:hover{
    background-color: var(--blue-alt);
}


.page{
    background-color: #F1F5F9;
    min-height: 100vh;
}
.sidebar{
    padding: 20px;
    box-shadow: 0 0 10px #ddd;
    z-index: 333;
    width: 154px;
    padding: 10px;
    height: 447px;
    border-bottom-right-radius: 40px;
    position: sticky;
    top: 0;
}
.sidebar > h3{
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after{
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.sidebar > h3::before{
    content: '';
    bottom: -20px;
    width: 80px;
    height: 2px;
}
.sidebar > h3::after{
    content: '';
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid #fff;
}
.sidebar a{
    transition: .3s;
    margin-bottom: 5px;
}
.sidebar a:hover, .sidebar a.active{
    background-color: #f6f6f6;
}
.sidebar span{
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 440px){
    .sidebar{
        padding: 10px;
    }
}
@media (max-width: 767px) {
    .sidebar{
        width: 57px;
        height: 385px;
        border-bottom-left-radius: 27px;
        border-bottom-right-radius: 27px;
    }
    .sidebar > h3{
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after{
        display: none;
    }
    .sidebar span{
        display: none;
    }
}

/* Content-Header */
.content{
    overflow: hidden;
}
.head {
    position: fixed;
    width: calc(100% - 140.75px);
    z-index: 999;
    top: 0;
}
@media (max-width: 767px){
    .head{
        width: calc(100% - 57px);
    }
}
.head .search::before{
    font-family: var(--fa-style-family-classic);
    content:"\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey);
    font-size: 14px;
}
.head input{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width .3s;
}
.head input:focus{
    width: 200px;
}
.head input:focus::placeholder{
    opacity: 0;
}
.head .notification::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}
.head .icon{
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.fixed-space {
    margin-top: 6rem;
}

/* Main heading */
h1{
    margin: 20px 20px 40px;
}
h1::before, h1::after{
    content:'';
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
h1::before{
    background-color: white;
    width: 120px;
    border-radius: 4px;
}
h1::after{
    background-color: black;
    width: 50px;
    border-radius: 4px;
}

.wrapper{
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 767px){
    .wrapper{
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* new widget "welcome" */
.welcome{
    overflow: hidden;
}
.intro img{
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
.welcome .body{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div{
    flex: 1;
}
.welcome .visit{
    margin: 0 15px 15px auto;
    transition: .3s;
}
.welcome .visit:hover{
    background-color: var(--blue-alt);
}
@media (max-width: 768px) {
    .welcome .intro{
        padding-bottom: 30px;
    }
    .welcome .avatar{
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child){
        margin-bottom: 20px;
    }
}

/* Widegt "Draft" */
.quick-draft{
    resize: none;
    min-height: 180px;
}
.save{
    transition: .3s ;
    margin-left: auto;
}

/* widegt3 "Targets" */
.targets .target-row .icon{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
}
.targets .details{
    flex: 1;
}
.targets .progress{
    height: 4px;
}
.targets .progress > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .progress > span span{
    position: absolute;
    bottom: 16px;
    right: -16px; /*to go at the center*/
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 13px;
}
.targets .progress > span span::after{
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Changing the spans colors */
.targets .progress > .blueSpan span::after{
    border-top-color: var(--blue);
}
.targets .progress > .greenSpan span::after{
    border-top-color: var(--green);
}
.targets .progress > .orangeSpan span::after{
    border-top-color: var(--orange);
}

/* Changing the row colors */
.bluerow .icon, 
.bluerow .progress{
    background-color: rgb(0 117 255 / 20%);
}
.orangerow .icon, 
.orangerow .progress{
    background-color: rgb(245 158 11 / 20%);
}
.greenrow .icon, 
.greenrow .progress{
    background-color: rgb(34 197 94 / 20%);
}
/* Tickets */
.tickets .box{
    border: 1px solid #CCC;
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .box{
        width: 100%;
    }
}

/* Latest News */
.latest-news .news-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.latest-news img{
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}
.latest-news .info{
    flex-grow: 1;
}
.latest-news .info h3{
    margin: 0 0 6px;
    font-size: 16px;
}
@media (max-width: 767px) {
    .latest-news .news-row{
        display: block;
    }
    .latest-news .news-row .label{
        margin: 10px auto;
        width: fit-content;
    }
}

/* Tasks */
.tasks .task-row:not(:last-child){
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.tasks .info{
    flex-grow: 1;
}
.tasks .done{
    opacity: 0.3;
}
.tasks .done h3,
.tasks .done p{
    text-decoration: line-through;
}
.tasks .delete{
    cursor: pointer;
    transition: 0.3s;
}
.tasks .delete:hover{
    color: var(--red);
}

/* Latest Uploads */
.latest-uploads ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.latest-uploads ul li img{
    width: 40px;
    height: 40px;
}

/* Reminders */
.reminders ul li .key{
    width: 15px;
    height: 15px;
}
.reminders ul li > .blueReminder{
    border-left: 2px solid var(--blue);
}
.reminders ul li > .greenReminder{
    border-left: 2px solid var(--green);
}
.reminders ul li > .orangeReminder{
    border-left: 2px solid var(--orange);
}
.reminders ul li > .redReminder{
    border-left: 2px solid var(--red);
}

/* Social Meida */
.social-media .box{
    padding-left: 70px;
}
.box i{
    display: flex;
}
.social-media i{
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
}
.social-media i:hover{
    cursor: pointer;
    transform: rotate(5deg);
}

/*TWITTER*/
.social-media .twitter{
    --color: #1DA1F2;
    background-color: rgba(29 161 242 / 20%);
    color: var(--color);
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: var(--color);
}
/*FACEBOOK*/
.social-media .facebook{
    --color: #1877F2;
    background-color: rgba(24 119 242 / 20%);
    color: var(--color);
}
.social-media .facebook i,
.social-media .facebook a {
    background-color: var(--color);
}
/*YOUTUBE*/
.social-media .youtube{
    --color: #FF0000;
    background-color: rgba(255 0 0 / 20%);
    color: var(--color);
}
.social-media .youtube i,
.social-media .youtube a {
    background-color: var(--color);
}
/*LINKEDIN*/
.social-media .linkedin{
    --color: #0077B5;
    background-color: rgba(0 119 181 / 20%);
    color: var(--color);
}
.social-media .linkedin i,
.social-media .linkedin a {
    background-color: var(--color);
}

/* Projects */
@import url(../../css/framework.css);
@import url(../../css/main.css);
/*ProjectsTable*/
.projects{
    margin-top: 3rem;
}
.projects .responsive-table{
    overflow-x: scroll;
}
.projects table{
    min-width: 1000px;
    border-spacing: 0;
}
.projects table td{
    padding: 15px;
}
.projects thead td{
    background-color: #eee;
    font-weight: bold;
}

.projects tbody td{
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    transition: 0.3s;
}
.projects tbody td:last-child{
    border-right: 1px solid #EEE;
}
.projects tbody tr:hover td{
    background-color: #FAF7F7;
}

.projects table img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}
.projects table img:not(:first-child){
    margin-left: -20px;
}
.projects .label {
    font-size: 13px;
}
/* Last project progress */
.last-project ul::before{
    content: '';
    position: absolute;
    left: 10px;
    width: 2px;
    height: 100%;
    background-color: var(--blue);
}
.last-project ul li::before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before{
    background-color: var(--blue);
}  
.last-project ul li.current::before{
    animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon{
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}

/* Latest Post */
.latest-post .avatar{
    width: 48px;
    height: 48px;
}
.latest-post .post-content{
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}

@keyframes change-color {
    from {
        background-color: var(--blue);
    }
    to {
        background-color: white;
    }
}
@keyframes go-up {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}